<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VMDS</title>
    <link th:href="@{/js/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">VMDS</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">项目管理</a></li>
            <li class="layui-nav-item"><a href="">接口管理管理</a></li>
            <li class="layui-nav-item"><a href="">用例管理</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq";; class="layui-nav-img"/>
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="/">首页</a></li>
                <li class="layui-nav-item"><a href="/rpdtester">设备管理</a></li>
                <li class="layui-nav-item "> <!--layui-nav-itemed-->
                    <a class="" href="javascript:;">程序下发</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">项目管理</a></dd>
                        <dd><a href="javascript:;">接口管理</a></dd>
                        <dd><a href="javascript:;">用例管理</a></dd>
                        <dd><a href="javascript:;">场景管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">任务管理</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">统计管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">日志管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">车辆数据</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">车辆配置码规则管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">日志管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户及权限</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/user">用户管理</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">角色管理</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">权限管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>系统名称</th>
                    <th>设备号</th>
                    <th>当前版本</th>
                    <th>下发版本</th>
                    <th>引擎当前版本</th>
                    <th>引擎下发版本</th>
                    <th>下载时间</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dev:${devs}">
                    <td th:text="${dev.device_id}">序号</td>
                    <td th:text="${dev.device_name}">系统名称</td>
                    <td th:text="${dev.device_num}">设备号</td>
                    <td th:text="${dev.curr_vers}">当前版本</td>
                    <td th:text="${dev.issue_vers}">下发版本</td>
                    <td th:text="${dev.ecurr_vers}">引擎当前版本</td>
                    <td th:text="${dev.eissue_vers}">引擎下发版本</td>
                    <td th:text="${dev.down_time}">下载时间</td>
                    <td th:text="${dev.create_time}">创建时间</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{/js/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>