<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VMDS</title>
    <link th:href="@{/js/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="common::head"></div>

    <div th:replace="common::left"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>系统名称</th>
                    <th>设备号</th>
                    <th>当前版本</th>
                    <th>下发版本</th>
                    <th>引擎当前版本</th>
                    <th>引擎下发版本</th>
                    <th>下载时间</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dev:${devs}">
                    <td th:text="${dev.device_id}">序号</td>
                    <td th:text="${dev.device_name}">系统名称</td>
                    <td th:text="${dev.device_num}">设备号</td>
                    <td th:text="${dev.curr_vers}">当前版本</td>
                    <td th:text="${dev.issue_vers}">下发版本</td>
                    <td th:text="${dev.ecurr_vers}">引擎当前版本</td>
                    <td th:text="${dev.eissue_vers}">引擎下发版本</td>
                    <td th:text="${dev.down_time}">下载时间</td>
                    <td th:text="${dev.create_time}">创建时间</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="common::foot"></div>
</div>
<script th:src="@{/js/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>